@import ./resources/Presets

#about
    height: 100vh
    background: #262626
    color: #fafafa
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 60px
    z-index: -2