@import ./resources/Presets

.home
    height: 100vh
    background: linear-gradient(20deg, #4f3e36, #262626)
    z-index: -2

.background
    position: absolute
    top: -10vh
    right: 0vw
    height: 110vh
    width: 90vw
    border-top-right-radius: 60%
    border-bottom-left-radius: 70%
    opacity: 0.8
    z-index: -1
    filter: blur(1.5px)

.sign
    position: absolute
    bottom: 50px
    right: 70px
    width: 250px

.header
    padding: 160px 20% 120px

.title
    color: #fafafa
    font-size: 80px
    font-family: inter
    margin: 0

.foot
    color: #fafafa
    font-size: 40px
    margin: 0
    margin-left: 160px