@import ./resources/Presets

#skills-section
    height: 101vh
    background: #262626
    color: #fafafa
    padding: 250px 16% 100px

.skills
    font-size: 100px
    font-family: 'Poppins'
    font-weight: 300

.underline
    margin-top: -30px
    margin-bottom: 40px
    height: 6px
    width: 60vw
    background: linear-gradient(90deg, #bd52d8, #526fd8)
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

.sm-underline
    margin-top: -15px
    margin-bottom: 40px
    height: 3px
    width: 400px
    background: linear-gradient(90deg, #bd52d8, #526fd8)
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

#hs
    font-size: 50px
    font-family: 'Poppins'
    font-weight: 300

#section-container
    display: flex
    flex-direction: row

#hard-container
    display: flex
    flex-direction: column

#tech-container
    display: flex
    flex-direction: column
    margin-left: 70px
    margin-right: 100px

.grid-container
    display: grid
    grid-template-columns: 140px 140px 140px
    background: #fafafa0f
    padding-top: 30px
    padding-left: 30px
    border-radius: 30px
    margin-left: -40px
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

.grid-container a ion-icon
    height: 100px
    width: 100px
    transition: 0.5s

.grid-container a img
    height: 90px
    width: 90px
    transition: 0.5s

.grid-container a ion-icon:hover
    transition: 0.5s
    transform: scale(110%)

#react
    color:#5ED3F3

#html
    color:#F75421

#css
    color:#006CB4

#javascript
    color:#EFD81D

#sass
    color: #C76494

#npm
    color:#C53635

#angular
    color:#C3002F